/* ======== BASE ======== */
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--texto);
  background: var(--fundo);
  overflow: hidden; /* importante para o glitter */
  transition: background 1s ease, color 0.5s ease;
}

/* ====== TEMAS ====== */
body.modo-escuro {
  --fundo: radial-gradient(circle at top left, #021021, #0a1a2b, #08111f);
  --caixa: rgba(255, 255, 255, 0.08);
  --borda: rgba(0, 255, 255, 0
